<div class="form-group">
  <label for="name" class="control-label col-xs-2">name</label>
  <div class="controls col-xs-6">
    <%- contentTag('input', product.name, {type:'text', class:'form-control', name:'name'}) %>
  </div>
</div>
<div class="form-group">
  <label for="description" class="control-label col-xs-2">description</label>
  <div class="controls col-xs-6">
    <%- contentTag('input', product.description, {type:'text', class:'form-control', name:'description'}) %>
  </div>
</div>
<div class="form-group">
  <label for="price" class="control-label col-xs-2">price</label>
  <div class="controls col-xs-6">
    <%- contentTag('input', product.price, {type:'text', class:'form-control', name:'price'}) %>
  </div>
</div>
